<div id="footer" class="container">
  <div class="row">
    <div class="col-xs-3">
      <a href="/"><img src="/images/logo.png"></a>
    </div>
    <div class="col-xs-3">
      <p>ABOUT ME</p>
      <p class="mouse-pointer"><a href="/">Info</a></p>
      <p class="mouse-pointer"><a href="/skills">Skills</a></p>
      <p class="mouse-pointer"><a href="/work">Work</a></p>
    </div>
    <div class="col-xs-3">
      <p>CONTACT</p>
      <p>
        <a class="" href="mailto:phan.1998@hotmail.com">
          <i class="fa fa-envelope" aria-hidden="true"></i>
        </a>
        <a class="" href="https://github.com/hiepqphan">
          <i class="fab fa-github"></i>
        </a>
        <a class="" href="https://www.linkedin.com/in/hiep-phan-11b58a130">
          <i class="fab fa-linkedin"></i>
        </a>
        <a class="" href="https://www.facebook.com/phanquang.hiep.9">
          <i class="fab fa-facebook-square"></i>
        </a>
      </p>
    </div>
    <div class="col-xs-3">
      <p>Background image is designed by Hiep Phan.</p>
    </div>
  </div>
</div>
