<div class="social-media">
  <a href="#">
    <div class="social-item" data-toggle="tooltip" data-placement="right" title="To top">
      <i class="fas fa-arrow-circle-up"></i>
    </div>
  </a>

  <a href="mailto:hiepqphan@hotmail.com">
    <div class="social-item" data-toggle="tooltip" data-placement="right" title="Email">
      <i class="fas fa-envelope"></i>
    </div>
  </a>

  <a href="https://github.com/hiepqphan" target="_blank">
    <div class="social-item" data-toggle="tooltip" data-placement="right" title="GitHub">
      <i class="fab fa-github"></i>
    </div>
  </a>

  <a href="https://www.linkedin.com/in/hiep-phan-11b58a130" target="_blank">
    <div class="social-item" data-toggle="tooltip" data-placement="right" title="LinkedIn">
      <i class="fab fa-linkedin-in"></i>
    </div>
  </a>
</div>
