<nav class="navbar navbar-expand-lg navbar-custom">
    <ul class="navbar-nav mr-auto nav-left side-border fixed-width">
      <li class="nav-item">
        <a class="nav-link" href="/">About</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" href="/skills">Skills</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" href="/work">Work</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto nav-right">
      <li class="nav-item">
        <a id="icon-mail" class="nav-link" href="mailto:phan.1998@hotmail.com">
          <i class="fa fa-envelope" aria-hidden="true"></i>
        </a>
      </li>
      <li class="nav-item">
        <a id="icon-github" class="nav-link" href="https://github.com/hiepqphan">
          <i class="fa fa-github" aria-hidden="true"></i>
        </a>
      </li>
      <li class="nav-item">
        <a id="icon-linkedin" class="nav-link" href="https://www.linkedin.com/in/hiep-phan-11b58a130">
          <i class="fa fa-linkedin-square" aria-hidden="true"></i>
        </a>
      </li>
      <li class="nav-item">
        <a id="icon-facebook" class="nav-link" href="https://www.facebook.com/phanquang.hiep.9">
          <i class="fa fa-facebook-official" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
</nav>

<div id="img-cover">

</div>
