.SectionViewContainer {
  margin-top: 20px;
/*  border: solid 1px #004a6e;*/
/*  padding-left: 20px;*/
}

.Title {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}

.NoProject {
  font-style: italic;
  color: #bfbfbf;
}
