<!DOCTYPE html>
<html>
<head>
	<title>Game of Colors</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/colorgame.css">
	<link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
    <script src="/js/jquery-3.3.1.min.js"></script>
</head>
<body>

<div id="header">
	<p>The Game of Guessing</p>
	<p id="colorid">rgb(0, 0, 0)<p>
</div>

<div id="menu">
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<div class="menu-option default-style" id="new-color-menu">NEW COLORS</div>
			</div>
			<div class="col-sm-4">
				<div id="game-message"></div>
			</div>
			<div class="col-sm-4">
				<div class="blue-white menu-option" id="easy-menu">EASY</div>
				<div class="default-style menu-option" id="hard-menu">HARD</div>
			</div>
		</div>
	</div>
</div>



<div id="play-screen">
	<div class="container">
		<div class="row flex" id="first-row">
			<div class="col-sm-4"><p></p></div>
			<div class="col-sm-4"><p></p></div>
			<div class="col-sm-4"><p></p></div>
		</div>
		<div class="row flex" id="second-row">
			<div class="col-sm-4"><p></p></div>
			<div class="col-sm-4"><p></p></div>
			<div class="col-sm-4"><p></p></div>
		</div>
	</div>
</div>

<script type="text/javascript" src="/js/colorgame.js"></script>
<script src="/js/boostrap.min.js"></script>
</body>
</html>
