<!DOCTYPE html>
<html>
<head>
    <title>Hiep Phan - Portfolio</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/all.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/header.css">
    <script src="/js/jquery-3.3.1.min.js"></script>
</head>
<body>

<% include partials/header %>

<div class="whole-screen header">
  <div class="nav-bar-custom">
    <div class="contact-info">
      <a href="mailto:hiepqphan@hotmail.com">
        <div class="social-item">
          <i class="fas fa-envelope"></i>
        </div>
      </a>

      <a href="https://github.com/hiepqphan" target="_blank">
        <div class="social-item">
          <i class="fab fa-github"></i>
        </div>
      </a>

      <a href="https://www.linkedin.com/in/hiep-phan-11b58a130" target="_blank">
        <div class="social-item">
          <i class="fab fa-linkedin-in"></i>
        </div>
      </a>
    </div>
    <div class="item">
        <a href="/">ABOUT</a>
    </div>
    <div class="item">
      <a href="/skills">SKILLS</a>
      <div class="white-border-bottom">
      </div>
    </div>
    <div class="item">
      <a href="/work">PROJECTS</a>
      <div class="white-border-bottom">
      </div>
    </div>
  </div>
  <div class="message">
    <p>Hello,</p>
    <p>I'm a programmer</p>
    <p>and an enthusiastic learner</p>
    <button type="button">ABOUT ME</button>
  </div>
</div>

<div class="whole-screen content">
  <div>
    <div class="avatar">
      <img src="images/figure_upper_body.png">
    </div>
    <div id="bibliography">
      <p>Hello!</p>
      <p>I am from Hanoi, Vietnam and currently in my junior at Denison University, Ohio. I started studying
         Computer Science since middle school and continued to learn algorithms in high school. Until now I have
         4-year experience of online problem solving.
      </p>
      <p>Besides problem solving, I self-teach several skills like Web development, Android development,
         Unreal Engine and so on. During free time, I usually practice my drawing skills with static objects or
         human figures, hoping that one day I could become a computer scientist with designing skills.
      </p>
    </div>
  </div>
</div>

<script src='/js/all.js'></script>
<script src='/js/home.js'></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>
