<!DOCTYPE html>
<html>
<head>
    <title>Hiep Phan - Portfolio</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/all.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/header.css">
    <script src="/js/jquery-3.3.1.min.js"></script>
</head>
<body>

<% include partials/header %>

<div class="whole-screen header">
  <div class="nav-bar-custom">
    <div class="item">
        <a href="/">ABOUT</a>
    </div>
    <div class="item">
      <a href="/skills">SKILLS</a>
      <div class="white-border-bottom">
      </div>
    </div>
    <div class="item">
      <a href="/work">PROJECTS</a>
      <div class="white-border-bottom">
      </div>
    </div>
  </div>
  <div class="message">
    <p>Hello,</p>
    <p>I'm a programmer</p>
    <p>and an enthusiastic learner</p>
    <button type="button">ABOUT ME</button>
  </div>
</div>

<div class="whole-screen content">
  <div class="display-area">

  </div>
</div>

<script src='/js/all.js'></script>
<script src='/js/home.js'></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>
