<!DOCTYPE html>
<html>
<head>
    <title>Hiep Phan - Portfolio</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/font-awesome.min.css">
    <link rel="stylesheet" href="/app.css">
    <script src="/jquery-3.2.1.min.js"></script>
</head>
<body>

<div id='header'>
<nav id='only-navbar' class="navbar navbar-default">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav-bar" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		    </button>
		</div>

		<div class="collapse navbar-collapse" id="main-nav-bar">
			<ul class="nav navbar-nav navbar-left">
				<li><a class='menu-left' href='/'>Home</a></li>
				<li><a class='menu-left' href="#basic-info">About</a></li>
				<li><a class='menu-left' href="#experience">My Work</a></li>
				<li><a class='menu-left' href="/colorgame">Color-Game</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
        <li class="tooltip-holder"><a href="mailto:phan.1998@hotmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a>
            <span id='tooltip-email' class='tooltip'><p>Email</p></span>
        </li>
				<li class="tooltip-holder"><a href="https://github.com/hiepqphan"><i class="fa fa-github" aria-hidden="true"></i></a>
            <span id='tooltip-github' class='tooltip'><p>GitHub</p></span>
        </li>
        <li class="tooltip-holder"><a href="https://www.linkedin.com/in/hiep-phan-11b58a130"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
            <span id='tooltip-linkedin' class='tooltip'><p>LinkedIn</p></span>
        </li>
				<li class="tooltip-holder"><a href="https://www.facebook.com/phanquang.hiep.9"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
            <span id='tooltip-facebook' class='tooltip'><p>Facebook</p></span>
        </li>
			</ul>
		</div>
</nav>
</div>

<!-- <div id='div-logo'>
    <a href='/'><img id='logo' src='/cat_liedown_black.png'></a>
</div> -->

<div id='side-menu-container'>
<ul id='side-menu'>
  <li>
    <a href='#basic-info' id='side-about'>
      <span>About</span>
      <i class="fa fa-info-circle" aria-hidden="true"></i>
    </a>
  </li>
  <li>
    <a href='#experience' id='side-exp'>
      <span>Experience</span>
      <i class="fa fa-briefcase" aria-hidden="true"></i>
    </a>
  </li>
  <li>
    <a href='#contact' id='side-contact'>
      <span>Contact</span>
      <i class="fa fa-phone" aria-hidden="true"></i>
    </a>
  </li>
</ul>
</div>

<div id='cover-img'>
  <img src='/image_cover.png'>
</div>

<div id='main-content'>
<div class='container'>
	<div class='content' id='basic-info'>
		<h2>About me</h2>
		<p id='name'>Hiep Quang Phan</p>
		<p id='school'>Denison University</p>
		<p id='major'>Major: Computer Science</p>
		<p id='minor'>Minor: Mathematics</p>
		<p id='gpa'>Cumulative GPA: 3.78/4.0</p>
		<p id='cs-gpa'>Computer Science GPA: 4.0/4.0</p>
	</div>

	<div class='content' id='experience'>
		<h2>Experience</h2>
    <p>Summer Research: Query in large databases</p>
    <ul id='summer-research-2018'>
      <li>Conduct a research on the <i>k</i>-Regret operator which returns a small subset of a large database
      to represent the item close to all users' need, without any users' inputs. This small subset is called
      the result set</li>
      <li>My research focuses on efficiently updating the result set returned by the <i>k</i>-Regret operator.
      This is especially helpful in a dynamic settings where the database changes frequently; therefore, re-computing
      the result set from scratch can be expensive</li>
      <li>For the full paper, please refer to this <a href='https://1drv.ms/b/s!Ar9GFEbmQta-alpxFtSpicUbJsg'>pdf</a></li>
    </ul>
		<p id='acm-contest'>ACM Programming Contest</p>
		<ul>
			<li>Ranked one of the top 20 teams based on overall speed and accuracy of solutions</li>
		</ul>
		<p id='cs-city-contest'>Computer Science City Contest, Hanoi, Vietnam</p>
		<ul>
			<li>Achieved second prize out of more than 400 competitors</li>
		</ul>
		<p id='ta'>Teaching Assistant</p>
		<ul>
			<li>Recommended by professor based on outstanding performance in previous CS courses</li>
		</ul>
		<p id='security-office'>Project for Security Office</p>
		<ul>
			<li>Created an on-campus emergency phone map in HTML for Security Office</li>
		</ul>
		<p id='student-worker'>Full-time student worker</p>
		<ul>
			<li>Worked in the networking section and gained first-hand experience with network administration</li>
		</ul>
	</div>

	<div class='content' id='skills'>
		<h2>Skills</h2>
		<p>C/C++, Python, Java</p>
		<p>HTML, CSS, jQuery, Nodejs</p>
		<p>SQL, Git</p>
	</div>

	<div class='content' id='contact'>
		<h2>Contact</h2>
		<p id='link-email'><a href='mailto:phan.1998@hotmail.com'>phan.1998@hotmail.com</a></p>
		<p id='link-github'><a href='https://github.com/hiepqphan'><i class="fa fa-github" aria-hidden="true"></i> GitHub</a></p>
    <p id='link-linkedin'><a href="https://www.linkedin.com/in/hiep-phan-11b58a130"><i class="fa fa-linkedin-square" aria-hidden="true"></i> LinkedIn</a></p>
		<p id='link-facebook'><a href='https://www.facebook.com/phanquang.hiep.9'><i class="fa fa-facebook-official" aria-hidden="true"></i> Facebook</a></p>
	</div>
</div>
</div>

<div id='footer'>

</div>

<script src='/mainjs.js'></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
