<!DOCTYPE html>
<html>
<head>
    <title>Hiep Phan - Skills</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/skills.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <script src="/js/jquery-3.3.1.min.js"></script>
</head>
<body>

<% include partials/header %>

<div class="div-wrapper">
<div class="container section-skills" id="home-skills">
  <div class="title">
    <img src="/images/ruler.png">
    <div>Skills</div>
  </div>
  <div class="row">
    <div class="col-sm-3 shadow">
      <p class="sub-title">Programming</p>
      <p>C/C++</p>
      <p>Python</p>
      <p>Java</p>
      <p>Algorithms</p>
      <p>Object-oriented Programming</p>
    </div>
    <div class="col-sm-3 shadow">
      <p class="sub-title">Web Developement</p>
      <p>HTML5</p>
      <p>CSS3</p>
      <p>Bootstrap</p>
      <p>Javascript/jQuery</p>
    </div>
    <div class="col-sm-3 shadow">
      <p class="sub-title">Others</p>
      <p>Git</p>
      <p>SQL</p>
      <p>Unreal Engine 4</p>
      <p>Android Developement</p>
      <p>Adobe Illustrator</p>
      <p>
    </div>
  </div>
</div>

<div class="line-divide">
  <img class="img-fluid" src="/images/pencil.png">
</div>

<div class="container section-experience" id="home-experience">
  <div class="title-rectangle shadow">
    <p>Experience</p>
  </div>
  <div class="row">
    <div class="col-lg-3 shadow" id="div-research">
      <p class="sub-title">Summer Research</p>
      <img src="/images/icon_book.png">
      <p class="sub-sub-title">k-Regret Operator</p>
      <p class="content">Create an algorithm that returns a small representative subset of
      a large and changeable database. Items in the subset are close to each user's ideal item to a certain degree.</p>
      <p class="more">Click for details <i class="fa fa-chevron-circle-down" aria-hidden="true"></i></p>
    </div>
    <div class="col-lg-3 shadow" id="div-contest">
      <p class="sub-title">Programming Contests</p>
      <img src="/images/icon_computer.png">
      <p class="sub-sub-title">ACM Programming Contest</p>
      <p class="content">Ranked in top 20.</p>
      <p class="sub-sub-title">City Contest in Hanoi, Vietnam</p>
      <p class="content">Ranked in top 10.</p>
      <p class="more">Click for details <i class="fa fa-chevron-circle-down" aria-hidden="true"></i></p>
    </div>
    <div class="col-lg-3 shadow" id="div-work">
      <p class="sub-title">Related Work</p>
      <img src="/images/icon_briefcase.png">
      <p class="sub-sub-title">Online problem solving</p>
      <p class="sub-sub-title">Teaching Assistant</p>
      <p class="sub-sub-title">Computer Science Tutor</p>
      <p class="sub-sub-title">Webpage for Security Office</p>
      <p class="sub-sub-title">...</p>
      <p class="more">Click for details <i class="fa fa-chevron-circle-down" aria-hidden="true"></i></p>
    </div>
  </div>
  <div class="details">
    <div id="research">
      <p class="sub-sub-title">Academic Research</p>
      <p class="date">Summer 2018</p>
      <p>The <span class="text-italic">k</span>-Regret operator is a recently invented database query that combines
         the nice properties of the well-known <span class="text-italic">top-k</span> and <span class="text-italic">skyline</span> operator to output a
         small subset of a large database that represents the items close to users' desired items,
         without any users' inputs. Currently, the existing algorithms for "k-Regret operator"
         does not have any dynamic operations for updating the result set when there is a change
         in the database (i.e. an insertion or deletion of an item).</p>
      <p>Our research focuses on creating a new algorithm that updates the result set
         previously obtained by a k-Regret operator algorithm whenever there is
         an insertion or deletion of an item in the database. Our algorithms are implemented in C++.</p>
      <p>For an in-depth explanation of the research, please refer to <a href="https://1drv.ms/b/s!Ar9GFEbmQta-alpxFtSpicUbJsg">this paper</a>.</p>
    </div>
    <div id="contest">
      <p class="sub-sub-title">ACM Programming Contest</p>
      <p class="date">October 2016</p>
      <p>This is my first programming contest in the U.S. during my first year. Because of the hiatus from online
         problem-solving due to preparation for college, I only performed at a percentage of my full potential. My end result
         was achieving top 20 in this regional contest.</p>
      <p class="sub-sub-title">City Contest in Hanoi, Vietnam</p>
      <p class="date">November 2014</p>
      <p>After intensive training in summer 2014, I participated in the computer science city contest in Hanoi, Vietnam,
         my hometown. The training included 8 hours in class every other day and my own practice at home in free time. The contest followed
         the standard of a programming contest: there were 5 problems and the person solving the most and fastest would win the first prize.
         Each person competed individually. Though I only achieved the second prize, the training process fully prepared me with necessary tools,
         like essential algorithms and coding skills, to excel at computer science in an academic environment.</p>
    </div>
    <div id="work">
      <p class="sub-sub-title">Online problem solving</p>
      <p class="date">Ongoing</p>
      <p class="reduced-space">Solved more than 100 medium to hard problems on SPOJ.</p>
      <p>Continuing to solve problems on Kattis.</p>

      <p class="sub-sub-title">Teaching Assistant & Computer Science Tutor</p>
      <p class="date">Fall 2017</p>
      <p>Selected based on outstanding academic performance.</p>

      <p class="sub-sub-title">Unreal Engine 4: Escape Room</p>
      <p class="date">Ongoing</p>
      <p class="reduced-space">Learn the basic of Unreal Engine 4.</p>
      <p>Take both approach of using Blueprint and Unreal Engine framework in C++.

      <p class="sub-sub-title">Webpage for Security Office</p>
      <p class="date">Summer 2017</p>
      <p>Created an on-campus emergency phone map in HTML.</p>

      <p class="sub-sub-title">Android App: Simple Quiz</p>
      <p class="date">Summer 2017</p>
      <p>Learned the basic of making an Android application using Java and Android Studio.</p>
    </div>
  </div>
</div>
</div>

<% include partials/footer %>

<script src='/js/skills.js'></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>
