<!DOCTYPE html>
<html>
<head>
    <title>Hiep Phan - Skills</title>
    <link href="https://fonts.googleapis.com/css?family=Mali" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/skills.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <script src="/js/jquery-3.3.1.min.js"></script>
</head>
<body>

<% include partials/header %>

<div class="div-wrapper">
<div class="section" id="section-programming">
  <div class="title">
    PROGRAMMING
  </div>
  <div class="skill-item">
    <div class="flex-item">
      C/C++ <i class="fa fa-laptop" aria-hidden="true"></i>
    </div>
    <div class="flex-bar">
    </div>
  </div>
  <div class="skill-item bigger-icon">
    <div class="flex-item">
      Python <i class="fab fa-python"></i>
    </div>
    <div class="flex-bar">
    </div>
  </div>
  <div class="skill-item bigger-icon">
    <div class="flex-item">
      Java <i class="fab fa-java"></i>
    </div>
    <div class="flex-bar">
    </div>
  </div>
  <div class="skill-item">
    <div class="flex-item">
      Algorithms <i class="fa fa-cog" aria-hidden="true"></i>
    </div>
    <div class="flex-bar">
    </div>
  </div>
  <div class="skill-item bigger-icon">
    <div class="flex-item">
      OOP <i class="fa fa-cubes" aria-hidden="true"></i>
    </div>
    <div class="flex-bar">
    </div>
  </div>
</div>

<div class="section bigger-icon" id="section-web">
  <div class="title">
    WEB DEVELOPEMENT
  </div>
  <div class="skill-item">
    <div class="flex-item">
      HTML5 <i class="fab fa-html5"></i>
    </div>
    <div class="flex-bar">
    </div>
  </div>
  <div class="skill-item">
    <div class="flex-item">
      CSS3 <i class="fab fa-css3-alt"></i>
    </div>
    <div class="flex-bar">
    </div>
  </div>
  <div class="skill-item">
    <div class="flex-item">
      Bootstrap <i class="fas fa-dice-d20"></i>
    </div>
    <div class="flex-bar">
    </div>
  </div>
  <div class="skill-item">
    <div class="flex-item">
      Javascript/jQuery <i class="fab fa-js-square"></i>
    </div>
    <div class="flex-bar">
    </div>
  </div>
</div>

<div class="section last-section" id="section-others">
  <div class="title">
    OTHER SKILLS
  </div>
  <div class="skill-item">
    <div class="flex-item">
      Git <i class="fas fa-code-branch"></i>
    </div>
    <div class="flex-bar">
    </div>
  </div>
  <div class="skill-item">
    <div class="flex-item">
      SQL <i class="fas fa-database"></i>
    </div>
    <div class="flex-bar">
    </div>
  </div>
  <div class="skill-item">
    <div class="flex-item">
      Unreal Engine 4 <i class="fas fa-cogs"></i>
    </div>
    <div class="flex-bar">
    </div>
  </div>
  <div class="skill-item bigger-icon">
    <div class="flex-item">
      Android Dev <i class="fab fa-android"></i>
    </div>
    <div class="flex-bar">
    </div>
  </div>
  <div class="skill-item">
    <div class="flex-item">
      Illustrator <i class="fas fa-paint-brush"></i>
    </div>
    <div class="flex-bar">
    </div>
  </div>
</div>
</div>

<% include partials/footer %>

<script src='/js/skills.js'></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>
