<!DOCTYPE html>
<html>
<head>
    <title>Hiep Phan - Skills</title>
    <link href="https://fonts.googleapis.com/css?family=Mali" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/all.css">
    <link rel="stylesheet" href="/css/skills.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <script src="/js/jquery-3.3.1.min.js"></script>
</head>
<body>

<% include partials/header %>

<div class="whole-screen header">
  <div class="nav-bar-custom">
    <div class="contact-info">
      <a href="mailto:hiepqphan@hotmail.com">
        <div class="social-item">
          <i class="fas fa-envelope"></i>
        </div>
      </a>

      <a href="https://github.com/hiepqphan" target="_blank">
        <div class="social-item">
          <i class="fab fa-github"></i>
        </div>
      </a>

      <a href="https://www.linkedin.com/in/hiep-phan-11b58a130" target="_blank">
        <div class="social-item">
          <i class="fab fa-linkedin-in"></i>
        </div>
      </a>
    </div>
    <div class="item">
        <a href="/">ABOUT</a>
        <div class="white-border-bottom">
        </div>
    </div>
    <div class="item">
      <a href="/skills">SKILLS</a>
    </div>
    <div class="item">
      <a href="/work">PROJECTS</a>
      <div class="white-border-bottom">
      </div>
    </div>
  </div>
  <div class="message">
    <p>I have experience in</p>
    <p>programming, web development</p>
    <p>and more...</p>
    <button type="button">LEARN MORE</button>
  </div>
</div>

<div class="whole-screen content">
  <div class="title">
    SKILLS
  </div>
  <div class="section-wrapper">
    <div class="section" display="programming">
      <div class="square-icon"><i class="fas fa-laptop"></i></div>
      <div class="inner">
        <p>Programming</p>
      </div>
    </div>
    <div class="section" display="web">
      <div class="square-icon"><i class="fas fa-globe-americas"></i></div>
      <div class="inner">
        <p>Web</p>
      </div>
    </div>
    <div class="section" display="others">
      <div class="square-icon"><i class="fas fa-asterisk"></i></div>
      <div class="inner">
        <p>Others</p>
      </div>
    </div>
  </div>

  <div class="details">
    <div class="back-button">
      <button type="button"><i class="fas fa-angle-left" style="font-size:13px"></i> BACK</button>
    </div>
    <div class="flex-wrapper">
      <div class="left-button hideable">
        <i class="fas fa-angle-left"></i>
      </div>
      <div class="table">
        <div class="table-header">
          <div>SKILL: <span class="hideable">Programming</span></div>
          <div>
            <div>Beginner</div>
            <div class="legend-bar"></div>
            <div>Advanced</div>
          </div>
        </div>
        <div class="skill-group" id="programming">
          <div class="table-row">
            <div><div>C/C++</div></div>
            <div>
              <div class="proficiency-bar"></div>
            </div>
          </div>
          <div class="table-row">
            <div><div>Python</div></div>
            <div>
              <div class="proficiency-bar"></div>
            </div>
          </div>
          <div class="table-row">
            <div><div>Java</div></div>
            <div>
              <div class="proficiency-bar"></div>
            </div>
          </div>
          <div class="table-row">
            <div><div>Algorithms</div></div>
            <div>
              <div class="proficiency-bar"></div>
            </div>
          </div>
          <div class="table-row">
            <div><div>Object-oriented programming</div></div>
            <div>
              <div class="proficiency-bar"></div>
            </div>
        </div>
        </div>

        <div class="skill-group" id="web">
          <div class="table-row">
            <div><div>HTML5</div></div>
            <div>
              <div class="proficiency-bar"></div>
            </div>
          </div>
          <div class="table-row">
            <div><div>CSS3</div></div>
            <div>
              <div class="proficiency-bar"></div>
            </div>
          </div>
          <div class="table-row">
            <div><div>Bootstrap</div></div>
            <div>
              <div class="proficiency-bar"></div>
            </div>
          </div>
          <div class="table-row">
            <div><div>Javascript</div></div>
            <div>
              <div class="proficiency-bar"></div>
            </div>
          </div>
        </div>

        <div class="skill-group" id="others">
          <div class="table-row">
            <div><div>Git</div></div>
            <div>
              <div class="proficiency-bar"></div>
            </div>
          </div>
          <div class="table-row">
            <div><div>SQL</div></div>
            <div>
              <div class="proficiency-bar"></div>
            </div>
          </div>
          <div class="table-row">
            <div><div>Unreal Engine 4</div></div>
            <div>
              <div class="proficiency-bar"></div>
            </div>
          </div>
          <div class="table-row">
            <div><div>Android Development</div></div>
            <div>
              <div class="proficiency-bar"></div>
            </div>
          </div>
          <div class="table-row">
            <div><div>Illustrator</div></div>
            <div>
              <div class="proficiency-bar"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="right-button hideable">
        <i class="fas fa-angle-right"></i>
      </div>
    </div>
  </div>
</div>

<script src="/js/all.js"></script>
<script src='/js/skills.js'></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>
