body {
  font-family: "Segoe UI", Arial;
  color: #242424;
}

a {
  text-decoration: none;
  color: inherit;
}

button:focus {
    outline: 0;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

.social-media {
  position: fixed;
  z-index: 2;
  top: 300px;
  left: 0px;
  overflow: hidden;
}

.social-media .social-item {
  background-color: red;
  border-radius: 50%;
  color: white;
  margin-top: 10px;
  height: 60px;
  width: 60px;
  text-align: center;
  font-size: 20px;
  transition: all 0.2s ease-in;
}

.social-media a:nth-child(2) .social-item {
  transition: all 0.3s ease-in;
}

.social-media a:nth-child(3) .social-item {
  transition: all 0.4s ease-in;
}

.social-media a:nth-child(4) .social-item {
  transition: all 0.5s ease-in;
}

.tooltip-inner {
  font-family: "Segoe UI Semibold";
  background-color: white;
  margin-left: 10px;
  color: #242424;
}

.tooltip.bs-tooltip-right .arrow {
  margin-left:10px;
}

.tooltip.bs-tooltip-right .arrow:before {
  margin-left: 10px;
  border-right-color: white !important;
}

.tooltip.bs-tooltip-bottom .arrow:before {
  border-bottom-color: white !important;
}

.social-media a:nth-child(1) div {
  background-color: #68d8d8;
}

.social-media a:nth-child(2) div {
  background-color: #d35879;
}

.social-media a:nth-child(3) div {
  background-color: #e2ac71;
}

.social-media a:nth-child(4) div {
  background-color: #3f62c1;
}

.social-media i {
  padding-top: 21px;
}

.whole-screen {
  height: 100vh;
  min-width: 1700px;
  min-height: 800px;
}

.header {
  background-image: url("../images/cover_image.png");
  background-size: cover;
}

.header .contact-info {
  float: left;
  margin-top: 20px;
  text-align: center;
}

.header .contact-info div {
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  margin-top: 0px;
  margin-left: 20px;
  width: 60px;
  height: 60px;
  font-size: 30px;
  color: white;
}

.header .contact-info a:first-child div {
  background-color: #d35879;
  margin-left: 150px;
}

.header .contact-info a:nth-child(2) div {
  background-color: #383838;
}

.header .contact-info a:nth-child(3) div {
  background-color: #3f62c1;
}

.header .contact-info div i {
  padding-top: 15px;
  padding-left: 2px;
}

.header .contact-info a:nth-child(2) i {
  padding-left: 1px;
}

.header .item {
  font-family: "Segoe UI Semibold";
  float: left;
  margin-top: 20px;
  margin-left: 50px;
  padding: 0px 30px 0px 30px;
  height: 44px;
}

.header .nav-bar-custom .item:nth-child(2) {
  margin-left: 500px !important;
}

.header .item a {
  display: block;
  margin-top: 9px;
}

.header .item .white-border-bottom {
  position: relative;
  opacity: 0;
  border-bottom: solid 2px white;
  margin: auto;
  padding-bottom: 10px;
  width: 52.6px;
  transition: opacity 0.1s linear, padding 0.1s linear;
}

.header .item:nth-child(2) .white-border-bottom {
  width: 52.6px !important;
}

.header .item:nth-child(3) .white-border-bottom {
  width: 47.5px !important;
}

.header .item:nth-child(4) .white-border-bottom {
  width: 73.25px !important;
}

.header .item:hover .white-border-bottom {
  opacity: 1;
  padding-bottom: 5px;
}

.header .item:first-child {
  margin-left: 55% !important;
}

.message {
  padding-top: 16%;
  padding-left: 20%;
  color: #474747;
}

.message p {
  opacity: 0;
  font-size: 40px;
  margin-top: -10px;
}

.content {
  background-image: url("../images/cover_image_2.png");
  background-size: cover;
  color: white;
  text-align: center;
}

.content .title {
  font-size: 40px;
  padding-top: 80px;
}

@keyframes ripple {
  to {
    transform: scale(2);
    opacity: 0.4;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes reverse-spin {
  to {
    transform: rotate(-360deg);
  }
}
