
.header .item:nth-child(2) {
  background-color: white;
  border-radius: 40px;
}

.message button {
  background-image: linear-gradient(to right, #FEA3E0,
                                              #82B4FF,
                                              #AF6DF1);
  cursor: pointer;
  margin-left: 300px;
  padding: 12px 35px 12px 35px;
  border-radius: 30px;
}

.content {
  text-align: center;
}

.content img {
  width: 200px;
  height: auto;
}

.content>div {
  display: inline-block;
}

.content>div>div {
  float: left;
}

.content>div>div:first-child {
  margin-top: 70px;
  margin-right: 20px;
}

.display-area {
  /* background-color: white; */
  margin-top: 70px;
  margin-right: 180px;
  width: 800px;
  height: 70%;
  text-align: left;
  font-size: 25px;
  /* color: #242424; */
}
