/* Main content general styles */

.div-wrapper {
	/* background-color: #b5e873; */
	/* background-image: linear-gradient(to bottom,
                                      #b5e873,
                                      #d3f7a3); */
	padding-top: 10px;
	padding-bottom: 50px;
}

.section {
	font-family: 'Mali', cursive;
	/* height: 500px; */
	background-color: #efefef;
	margin: 0 100px 0 100px;
	border-radius: 20px;
}

.title {
	background-color: #444444;
	text-align: center;
	margin-top: 100px;
	margin-bottom: 50px;
	font-size: 25px;
	color: white;
	font-weight: 700;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	border-bottom: 4px solid white;
}

.skill-item {
	margin-left: 17%;
	margin-right: 20%;
	padding-bottom: 30px;
	display: flex;
}

.flex-item {
	padding-right: 20px;
	text-align: right;
	flex-basis: 25%;
}

.flex-bar {
	background-image: linear-gradient(to right,
                                      #db6d6d,
                                      #db6d6d 50%,
                                      transparent 50%,
                                      transparent);
  background-position: 100% 0;
  background-size: 200% 100%;
  transition: all .9s ease-in;
	flex-basis: 75%;
	border: 1px solid rgba(132, 132, 132, 0.7);
	border-radius: 10px;
}

.bigger-icon i {
	font-size: 20px;
}
