
.header .item:nth-child(4) {
  background-color: white;
  border-radius: 40px;
}

.message button {
  background-image: linear-gradient(to right, #FCBA81,
                                              #F864A9);
  cursor: pointer;
  margin-left: 300px;
  padding: 12px 35px 12px 35px;
  border-radius: 30px;
}

.display-area {
	background-color: #F8F8F8;
	color: #6A6A6A;
	margin: auto;
	margin-top: 50px;
	height: 70%;
	width: 70%;
}

.display-area>div {
	float: left;
}

.menu-bar {
	background-color: white;
	height: 100%;
	width: 170px;
	box-shadow: 7px 0 10px rgba(0, 0, 0, .16);
}

.content-area {
	background-color: white;
	height: 85%;
	margin: 50px 50px 0 50px;
	border-top: 5px solid #F864A9;
	box-shadow: 7px 7px 10px rgba(0, 0, 0, .16);
	text-align: left;
	overflow: auto;
}

.content-area>div {
	margin-left: 40px;
	margin-right: 40px;
}

.menu-bar .menu-item {
	cursor: pointer;
	width: 100%;
	border-bottom: 1px solid rgba(112, 112, 112, 0.1);
	transition: all 0.2s linear;
}

.menu-bar .menu-item:last-child {
	border: none;
}

.menu-item>p:first-child {
	padding-top: 25px;
	font-size: 40px;
}

.menu-item>p:nth-child(2) {
	margin-bottom: 0;
}

.section .sub-title {
	margin-top: 50px;
	border-top: 2px solid rgba(112, 112, 112, 0.5);
	font-weight: 700;
}

.section .sub-title:first-child {
	margin-top: 20px;
	border: none;
}

.date {
	margin-bottom: 10px;
	border-bottom: 1px solid rgba(112, 112, 112, 0.2);
	font-size: 14px;
	font-style: italic;
}

.section .sub-content:last-child {
	margin-bottom: 50px;
}
