.GameWrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(to top, #1e1e1e, #303030);
}
.GameContainer {
  height: 540px;
  width: 960px;
  margin: auto;
  margin-top: 100px;
}