html {
	height: 100%;
}

body {
	font-family: sans-serif;
}

#header {
	position: relative;
	z-index: 1;
	top: 40px;
	margin: auto;
	width: 80%;
	height: 130%;
	background-color: rgba(255, 255, 255, 0.7);
	/* border-bottom: 0.5px solid gray; */
}

.navbar {
	margin-bottom: 0;
}

.navbar li {
	font-size: 150%;
	font-weight: 300;
}

.navbar i {
	font-size: 140%;
}

/* #div-logo {
	position: absolute;
	z-index: 2;
	top: 50px;
	left: 50%;
	margin-left: -50px !important;
	display: block;
}

#logo {
	width: 70px;
	height: auto;
} */

.navbar-left li {
	margin-top: 9px;
	padding-top: 0;
	padding-bottom: 5px;
	transition: all 0.15s;
	background-image: linear-gradient(to right,
                                      #4f4f4f,
                                      #4f4f4f 50%,
                                      transparent 50%,
                                      transparent);
	background-position: 100% 0;
	background-size: 200% 100%;
}

.navbar-left li a {
	margin-top: 5px;
	padding-top: 0.75px;
	padding-bottom: 0px;
}

.menu-left {
	color: black !important;
}

.navbar-left li:hover {
	cursor: pointer;
	background-position: 0 0;
}

.navbar-left li:hover a{
	color: white !important;
}

.navbar-right {
	margin-right: 30px;
	margin-left: 30px;
}

.navbar-left {
	margin-top: 2px;
	margin-left: 20px;
	margin-right: 20px;
}

.navbar-right li {
	margin-top: -3px;
}

#header .fa-facebook-official {
	color: #1d5ac4;
}

#header .fa-facebook-official:hover {
	color: #72cdff;
}

#header .fa-linkedin-square {
	color: #0080c6;
}

#header .fa-linkedin-square:hover {
	color: #72cdff;
}

#header .fa-github {
	color: #333333;
}

#header .fa-github:hover {
	color: #5b5b5b;
}

#header .fa-envelope {
	color: #333333;
}

#header .fa-envelope:hover{
	color: #0094e5;
}

#tooltip-email {
	width: 50px;
}

#tooltip-github {
	width: 60px;
}

#tooltip-linkedin {
	width: 70px;
}

#tooltip-facebook {
	width: 80px;
}

.tooltip {
  display: block;
  position: absolute;
  z-index: 3;
  top: 0px;
  left: 50%;
  transform: translate(-50%, 10%) scale(0.75) rotate(30deg);
  transform-origin: bottom center;
  padding-top: 8px;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.75);
  color: white;
  text-align: center;
  transition: 0.15s ease-in-out;
  opacity: 0;
  width: 100%;
  max-width: 100vw;
  pointer-events: none;
}

.tooltip-holder:hover .tooltip {
	opacity: 1;
	transform: translate(-50%, 140%) scale(1) rotate(0deg);
  pointer-events: inherit;
}


.navbar-default {
	padding-top: 6px;
	background: none;
	border: none;
}

.navbar .navbar-collapse {
	text-align: center;
}

#cover-img {
	position: absolute;
	z-index: 0;
	top: 0;
	width: 100%;
	height: auto;
	color: #949699;
	font-weight: bold;
	text-align: center;
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
	/* border-bottom: 1px solid rgba(69, 188, 18, 0.7); */
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#cover-img img {
	width: 100%;
	height: auto;
}

#side-menu-container {
	position: relative;
	z-index: 2;
}

#side-menu {
	list-style: none;
	position: fixed;
	top: 50%;
	left: 0%;
	-webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

#side-menu li {
	list-style-type: none;
}

#side-menu li a {
  display: block;
  margin-left: -100px;
  height: 50px;
  width: 50px;
  border-radius: 0 25px 25px 0;
	border: none;
  background: white;
  margin-bottom: 0.7em;
  transition: all .4s ease;
  color: #949699;
  text-decoration: none;
  line-height: 52px;
  position: relative;
}

#side-menu li a:hover {
  cursor: pointer;
  width: 150px;
  color: #949699;
}

#side-menu li a span {
	font-size: 18px;
  padding: 0 20px 0 20%;
  position: absolute;
  left: -120px;
  transition: left .4s ease;
}

#side-menu li a i {
  position: absolute;
  top: 50%;
  right: 16px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 1.5em;
}

#side-about {
	color: white !important;
	background-color: #65b6d8 !important;
}

#side-about:hover span {
	left: 7px;
}

#side-exp {
	color: white !important;
	background-color: #e56262 !important;
}

#side-exp:hover span {
	left: -15px;
}

#side-contact {
	color: white !important;
	background-color: #79e581 !important;
}

#side-contact:hover span {
	left: 3px;
}

.sticky {
	position: fixed;
	top: 50%;
}

#main-content {
	background-color: white;
	color: black;
	margin-top: 35% !important;
}

.content {
	margin-top: 7%;
	margin-left: 20%;
	margin-right: 20%;
	padding-bottom: 48px;
	border-bottom: 1px solid rgba(220, 221, 226, 0.7);
	/* height: 100vh; */
}

h2 {
	text-align: center;
	padding-bottom: 10px;
	font-weight: 700;
}

#summer-research-2018 li {
	list-style-type: disc !important;
}

.container {
	margin-top: 0;
	width: 100%;
	padding: 0;
}

.container p {
	font-size: 20px;
	font-weight: 540;
}

.container ul {
	padding-bottom: 5px;
}

.container li {
	list-style: none;
	font-size: 17px;
}

#contact {
	border: none;
}

#footer {
	height: 100px;
	background: #1e1e1e;
	border-top: 0.7px solid rgba(69, 188, 18, 0.7);
}

@keyframes slideup {
	0% {margin-top: 4em; opacity: 0;}
	20% {margin-top: 3em; opacity: 1;}
	35% {margin-top: 2.5em; opacity: 1;}
	100% {margin-top: 2.5em; opacity: 1;}
}

@keyframes slidein {
	0% {margin-left:-800px; opacity: 0;}
  20% {margin-left:-800px; opacity: 0;}
  35% {margin-left:-400px; opacity: 0;}
	60% {margin-left:0px; opacity: 1;}
  100% {margin-left:0px; opacity: 1;}
}

@media (max-width: 1200px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}
