.ContactContainer {
  position: absolute;
  top: 0;
  left: 0;
  color: #004a6e;
  width: 100%;
}

.ContentWrapper {
  max-width: 1250px;
  padding-left: 150px;
  padding-right: 100px;
}

.Title {
  padding-top: 70px;
  font-size: 50px;
  font-weight: 600;
}

.Content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
