.NavbarContainer {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #333333;
  height: 100vh;
  min-height: 500px;
  width: 50px;
}

.Image {
  position: absolute;
  top: 10px;
  left: 7px;
  background-repeat: no-repeat;
  background-size: cover;
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

.NavItemContainer svg {
  pointer-events: none;
  width: 20px;
  fill: #666666;
}

.NavItem {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
}

.Selected {
  background: #2B2B2B;
}

.Selected svg {
  fill: white !important;
}

.ContactItems {
  position: absolute;
  bottom: 50px;
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 30px;
}

.ContactItems a {
  color: white;
  margin-top: 10px;
}

.ContactItems > a:nth-child(2) {
  color: rgb(0, 119, 181);
}